doctype html
head
    meta(charset='UTF-8')
    title Home Page
    link(href='/css/style.css' rel='stylesheet')
body
    include ./partials/header
    h4 Equipment
    .list
        for equipment in result
            a(href=`/equipment/${equipment.e_id}`) #{equipment.e_name}
            br